.btn, a.btn {
  display: inline-block;
  padding: 2px 8px;
  margin: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  transition: 0.3s ease all;
  font-size: 1rem;

  &:hover, &:focus {
    backdrop-filter: invert(8%);
    text-decoration: none;
    outline: none;
  }

  &.btn-confirm {
    background: hsl(123, 46%, 36%);
    color: #ffffff;

    &:hover, &:focus {
      background: hsl(123, 46%, 41%);
    }
  }
}

.btn-add-submit, .btn-add-cancel {
  border-radius: 4px;
  padding: 4px 12px;
  margin-top: 6px;
  height: 32px;
}

.btn-add-cancel {
  color: #525252;

  &:before {
    font-size: 24px;
    line-height: 16px;
    vertical-align: middle;
  }

  &:hover, &:focus {
    backdrop-filter: none;
    color: #141414;
  }
}

.btn-archive, .btn-restore, .btn-delete {
  position: relative;
  padding-left: 32px;
  padding-right: 12px;
  backdrop-filter: invert(4%);

  &:before {
    position: absolute;
    left: 10px;
    top: 6px;
  }
}

.btn-delete {
  background: #C62828;
  color: #fff;
  margin-left: 8px;

  &:hover, &:focus {
    background: #D32F2F;
  }
}
