.card {
  position: relative;
  cursor: pointer;
  padding: 8px 8px 8px 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  background: #FDFDFD;
  line-height: 1.5;

  &:after {
    color: transparent;
    position: absolute;
    right: 8px;
    content: '\f160'; // edit-2
    font-family: "Feather" !important;
    font-weight: 400;
    transition: 0.3s ease all;
  }

  &:hover {
    &:after {
      color: inherit;
    }
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-radius: 8px 0 0 8px;
  }

  &.wishlist:before {
    background: #2196F3;
  }

  &.low:before {
    background: #8BC34A;
  }

  &.normal:before {
    background: #FFC107;
  }

  &.high:before {
    background: #FF9800;
  }

  &.critical:before {
    background: #F44336;
  }
}

.card-preview {
  position: relative;
  margin-bottom: 8px;
  border-radius: 8px;
  background: #dbdbdb;
  height: 0;
}
