.column {
  margin: 16px;
  flex: 0 0 320px;
  max-height: calc(100% - 32px);
  background: rgba(255, 255, 255, 0.68);
  border-radius: 8px;
  scroll-snap-align: start;
  scroll-margin: 0 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  .column-title {
    padding: 14px 12px;
    display: flex;
    justify-content: space-between;

    h3 {
      padding: 0;
      margin: 0;
      top: 0;
      font-size: 1.5rem;
    }
  }

  .column-content {
    max-height: calc(100% - 56px - 6px);
    padding: 0 12px 6px;
    margin: 0;
    list-style: none;
    overflow-y: auto;

    &:empty {
      height: 54px;
      box-sizing: border-box;
    }
  }

  .column-action-add {
    margin: -6px 12px 6px;
  }

  .btn-column-add {
    position: relative;
    border-radius: 4px;
    padding: 8px 8px 8px 32px;
    width: 100%;
    font-size: 1rem;
    text-align: left;

    &:before {
      position: absolute;
      left: 6px;
      top: 10px;
      font-size: 20px;
    }
  }

  .input-column-add {
    padding: 0 8px;
    margin: 0;
    background: hsl(220, 12%, 99%);
    width: 100%;
    line-height: 1;
    height: 40px;
  }
}
