main {
  display: block;
  left: 0;
  right: 0;
  height: calc(100vh - 56px);
}

.main-area-content {
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #A8C6FA;
  margin:0;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.add-column-wrapper {
  .btn-add-column {
    margin: 0 16px;
    width: 100%;
    padding: 14px 12px;
    position: relative;
    background: rgba(255, 255, 255, 0.53);

    &:before {
      position: absolute;
      top: 16px;
      left: 25%;
      font-size: 20px;
    }
  }

  .input-add-column {
    margin: 0 16px;
    width: 100%;
    padding: 14px 12px;
  }

  .btn-confirm {
    margin-left: 16px;
  }
}
