.main-menu-btn {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 0;
  text-align: left;
  padding: 4px 8px;

  &.icon {
    padding-left: 24px;
  }

  &::before {
    position: absolute;
    left: 4px;
    top: 6px;
  }
}
