.main-menu-wrapper {
  position: fixed;
  z-index: 800;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;

  &.hidden > .main-menu-panel {
    right: -420px;
    pointer-events: none;
  }
}

.main-menu-panel {
  position: relative;
  right: 0;
  align-self: stretch;
  width: 25vw;
  max-width: 420px;
  min-width: 280px;
  margin-top: 0;
  padding: 8px;
  box-sizing: border-box;
  background: #fff;
  pointer-events: all;
  transition: 0.3s all ease;

  .main-menu-title {
    font-size: 1.5rem;
    text-align: center;
    line-height: 0.8;
  }

  .btn-menu-close {
    position: absolute;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 24px;
    margin: 8px 8px 8px 16px;
    z-index: 100;
    top: 0;
    right: 0;
  }

  .main-menu-btn {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 4px 8px;

    &.icon {
      padding-left: 24px;
    }

    &::before {
      position: absolute;
      left: 4px;
      top: 6px;
    }
  }
}

.tag-panel {
  border-top: 1px solid #e0e0e0;

  h4 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1;
  }

  .btn-tag-panel-add {
    position: relative;
    border-radius: 4px;
    padding: 8px 8px 8px 32px;
    width: 100%;
    font-size: 1rem;
    text-align: left;

    &:before {
      position: absolute;
      left: 6px;
      top: 10px;
      font-size: 20px;
    }
  }

  .tag-panel-add {
    padding: 0 8px;
    margin: 0;
    background: hsl(220, 12%, 99%);
    width: 100%;
    line-height: 1;
    height: 40px;
  }

  .tag {
    display: block;
    margin: 4px 0;
    border-radius: 2px;
    padding: 4px 8px;
    cursor: pointer;

    &:after {
      color: transparent;
      position: absolute;
      right: 4px;
      top: 4px;
      content: '\f160'; // edit-2
      font-family: "Feather" !important;
      font-weight: 400;
      transition: 0.3s ease all;
    }
  
    &:hover {
      &:after {
        color: inherit;
      }
    }
  }

}
